<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Help :</string>
			<key>FooterText</key>
			<string>1. Navigate to the Main Settings by swiping to the right.
2. Scroll up till you find Wi-Fi Settings. Select it.
3. Connect to any VIT Wi-Fi network.
4. Click on the ⓘ icon beside the connected network.
5. Ensure that the Auto-Login is turned OFF and Auto-Join is turned ON.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Version : 2.0.4</string>
		</dict>
	</array>
</dict>
</plist>
